
%h3 Import Books
= render 'form', file_report: @file_report
%br
%h3.text-center Book List
.media
  .media-body
    %table.table.table-hover
      %thead
        %tr
          %th Uploaded By
          %th File Name
          %th Status
          %th Actions
        - @file_reports.each do |report|
          %tr
            %td= current_user.email
            %td= File.basename report.data_file.path
            %td= 'Upload Completed'
            %td= link_to "View", file_report_path(report.id)